div.grd
  div.grd-row
    div.grd-row-col
      a.btn--blue((click)="onClick()") About
  div.grd-row(*ngIf="displayed")
    div.grd-row-col
      img.col-1(src='../../../assets/logo.png')
    div.grd-row-col
      h2.col-1 Theodolite
