@import '~furtive/scss/all.scss';
@import '../../theodolite/theodolite';

.code-slide {
  @include stretch();

  .content {
    @extend .bg--dark-gray;
    @include stretch();

    h2 {
      @extend .fnt--off-white;
      @extend .txt--center;

      flex: 0 0 auto;
      font-variant: small-caps;
    }

    min-height: 100vh;
    padding: 15px;

    > pre {
      @extend .bg--off-white;
      border-radius: 6px;
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.3);
      padding: 15px;
    }
  }
}