style
  include slide_5.scss

div.slide5
  h1.txt--center.retro Animations

  p Entrance and exit transitions can be configured for each slide
  p For example, this one Zooms in and Bounces out

  ul
    li BOUNCE
    li SLIDE (default)
    li FADE
    li FLIP
    li LIGHTNING
    li ROLL
    li ROTATE
    li ZOOM
