style
  include slide_5.scss

div.slide5
  h1.txt--center.retro Transitions

  p Entrance and exit transitions can be configured for each slide
  p For example, this one Bounces instead of the default Slide.
  p Transitions only take effect when the slide is *entering* (becoming the active slide)
  p Exiting slides currently only support fading out.

  ul
    li BOUNCE
    li SLIDE (default)
    li FADE
    li FLIP
    li LIGHTNING
    li ROLL
    li ROTATE
    li ZOOM
