div.presentation

  tdlt-slide([slide]="currentSlide",
    (animationend)="onAnimationEnd()")
  tdlt-slide([slide]="nextSlide" ,
    (animationend)="onAnimationEnd()")

  tdlt-controls([presentation]="presentation")

  tdlt-timer

  tdlt-progress