div.presentation
  div.grd
    div.grd-row
      div.grd-row-col-1
        tdlt-markdown-slide([slide]="currentSlide")
    div.grd-row
      div.grd-row-col-1
        tdlt-controls([presentation]="presentation", (slideChange)="onSlideChange($event)")