div.presentation
  tdlt-markdown-slide.previous([slide]="previousSlide")

  tdlt-markdown-slide.current([slide]="currentSlide")

  tdlt-markdown-slide.next([slide]="nextSlide")

tdlt-controls([presentation]="presentation", (slideChange)="onSlideChange($event)")