div.grd
  div.grd-row
    a.btn--blue((click)="onAboutClick()") About
    //span(*ngIf="showInfoPane")
      div.grd-row-col
        img.col-1(src='../../assets/logo.png')
      div.grd-row-col
        h2.col-1 Theodolite

  div.grd-row
    div.grd-row-col
      p.col-12 Why are you trying to use this? It isn't done yet.

  div.grd-row
    div.grd-row-col
      tdlt-presentation.col-12([presentation]="presentation")