.theodolite {
  .retro {
    color: #d7ceb2;
    text-shadow: 0.05em 0.05em 0 #2c2e38, 0.1em 0.1em 0 #5c5f72;
    font-family: 'Bazar', sans-serif;
    letter-spacing: 0.1em;
    font-variant: small-caps;
  }
}