div(*ngIf="slide", [ngSwitch]="slide.type", [class]="animation")
  div(*ngSwitchCase="slideType.MARKDOWN")
    tdlt-markdown-slide([slide]="slide")
  div(*ngSwitchCase="slideType.CODE")
    tdlt-code-slide([slide]="slide")
  div(*ngSwitchCase="slideType.PUG")
    tdlt-pug-slide([slide]="slide")
