div.timer(*ngIf="displayed", [@slideUpDown]="displayed")
    h1 {{ elapsedSeconds | hms }}
    span
        i.fa.px2((click)="toggle()",
            [ngClass]="{'fa-pause': isRunning, 'fa-play': !isRunning}")
        i.fa.fa-stop.px2((click)="reset()")